[Desktop Entry]
NoDisplay=true
Version=1.0
Encoding=UTF-8
Type=X-XFCE-Helper
X-XFCE-Category=WebBrowser
X-XFCE-CommandsWithParameter=microsoft-edge-stable "%s"
Icon=microsoft-edge-stable
Name=microsoft-edge-stable
X-XFCE-Commands=microsoft-edge-stable

