*background: #0B0B0E
*foreground: #FFFFEA
*color0: #0B0B0E
*color1: #9B685D
*color2: #B1896A
*color3: #D09875
*color4: #757391
*color5: #AA95A0
*color6: #DFA695
*color7: #EEDDCB
*color8: #20202A
*color9: #D97C68
*color10: #F8AF77
*color11: #FFC082
*color12: #8984CD
*color13: #F1ADD0
*color14: #FFCAA9
*color15: #FFFFEA

dwm.normbordercolor: #0B0B0E
dwm.normbgcolor: #0B0B0E
dwm.normfgcolor: #FFFFEA
dwm.selbordercolor: #FFFFEA
dwm.selbgcolor: #20202A
dwm.selfgcolor: #FFFFEA

Dunst.lowbg: #0B0B0E
Dunst.lowfg: #FFFFEA 
Dunst.normbg: #0B0B0E
Dunst.normfg: #FFFFEA 
Dunst.critbg: #0B0B0E
Dunst.critfg: #FFFFEA 
